html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0; /* 1 */
  padding: 0;
  white-space: normal; /* 2 */
  *margin-left: -7px; /* 3 */
}

button,
input,
select,
textarea {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
  *vertical-align: middle; /* 3 */
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
  *overflow: visible; /* 4 */
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
  *height: 13px; /* 3 */
  *width: 13px; /* 3 */
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

ol, ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

*, *::before, **::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

.wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.header {
  background-color: #EDF2EC;
}

.body {
  font-family: Inter;
  font-size: 20px;
  line-height: 1.5em;
  font-weight: 400;
  font-style: normal;
}

._container {
  max-width: 1278px;
  padding: 0 29px 0 29px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 768px) {
  ._container {
    padding: 0 52px 0 52px;
  }
}
@media (max-width: 380px) {
  ._container {
    padding: 0 29px 0 29px;
  }
}
.container_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 46px;
  padding-bottom: 47px;
  margin: 0 auto;
  min-height: 143px;
}

.header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav_item {
  margin-right: 46px;
}
.nav_item:last-child {
  margin-right: 0;
}

.nav_link {
  font-size: 1rem;
  line-height: 220%;
  color: #010201;
}
.nav_link:active {
  opacity: 0.5;
  -webkit-transition-property: opacity, color;
  transition-property: opacity, color;
  -webkit-transition-duration: 100ms, 400ms;
          transition-duration: 100ms, 400ms;
}
.nav_link:focus, .nav_link:hover {
  opacity: 0.8;
  color: #f9491c;
  -webkit-transition-property: opacity, color;
  transition-property: opacity, color;
  -webkit-transition-duration: 100ms, 400ms;
          transition-duration: 100ms, 400ms;
}

.link_orange {
  color: #E06733;
  font-size: 1rem;
  line-height: 312%;
}
.link_orange:hover, .link_orange:focus {
  color: #0909ff;
  opacity: 0.8;
  -webkit-transition-property: opacity, color;
  transition-property: opacity, color;
  -webkit-transition-duration: 150ms, 500ms;
          transition-duration: 150ms, 500ms;
}
.link_orange:active {
  opacity: 0.5;
  -webkit-transition-property: opacity, color;
  transition-property: opacity, color;
  -webkit-transition-duration: 150ms, 500ms;
          transition-duration: 150ms, 500ms;
}

.green {
  color: #499A18;
}

.orange {
  color: #E06733;
}

.menu_mobile {
  display: none;
  cursor: pointer;
}

.bar-1, .bar-2, .bar-3, .bar-4 {
  content: "";
  display: block;
  width: 36px;
  height: 2px;
  margin: 5px auto;
  background-color: #717171;
}

.navigation_bar {
  position: fixed;
  top: -200%;
  width: 100%;
  background-color: #EDF2EC;
  -webkit-transition: 250ms;
  transition: 250ms;
}

@media (max-width: 768px) {
  .container_header {
    min-height: 117px;
    padding: 40px 50px 27px 50px;
  }
}
@media (max-width: 380px) {
  .container_header {
    padding: 30px 25px 30px 25px;
    position: fixed;
    background-color: #EDF2EC;
    opacity: 50;
    width: 100%;
    min-height: 6%;
    top: 0;
    z-index: 10;
  }
  .navigation_bar.active {
    top: 70px;
    display: block;
    left: 0;
    background-color: #EDF2EC;
    height: 75vh;
    width: 100%;
    -webkit-transition: 300ms;
    transition: 300ms;
  }
  .nav_link, .nav_link_orange {
    font-size: 1.5rem;
    font-family: Inter;
  }
  .menu_mobile {
    display: block;
    right: 10px;
  }
  .menu_mobile.active .bar-1 {
    -webkit-transform: translateY(10px) rotate(45deg);
            transform: translateY(10px) rotate(45deg);
    -webkit-transition: 150ms;
    transition: 150ms;
  }
  .menu_mobile.active .bar-2 {
    opacity: 0;
  }
  .menu_mobile.active .bar-3 {
    opacity: 0;
    background-color: aqua;
  }
  .menu_mobile.active .bar-4 {
    -webkit-transform: translateY(-10px) rotate(-45deg);
            transform: translateY(-10px) rotate(-45deg);
    -webkit-transition: 150ms;
    transition: 150ms;
  }
  .header_nav {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    height: 95%;
    -webkit-transition: 100ms;
    transition: 100ms;
  }
  .nav_item {
    margin: 0;
  }
}
#welcome {
  background-color: #EDF2EC;
}

.container_welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 61px;
  min-height: 532;
  padding-bottom: 46px;
}

.leaves_logo {
  max-width: 450px;
  max-height: 405px;
}

.intro_text {
  width: 550px;
  min-height: 340px;
}

.intro_head {
  padding-top: 36px;
  max-width: 549px;
  margin-bottom: 42px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 45px;
  line-height: 111%;
  color: #717171;
}

.about_head {
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  max-width: 549px;
  margin-bottom: 40px;
  color: #499A18;
}

.intro_text {
  margin-bottom: 48px;
}

.lorem_intro {
  font-size: 20px;
  line-height: 35px;
  color: #636060;
  padding-bottom: 48px;
  max-width: 525px;
}

.lorem_about {
  font-size: 20px;
  line-height: 30px;
  color: #636060;
  font-family: "Inter";
}

.welcome_intro_button {
  padding: 12px 25px 12px 25px;
  max-width: 159px;
  min-height: 44px;
  color: #E06733;
  border: 2px solid #E06733;
  border-radius: 10px;
  text-align: center;
  font-family: Inter;
  display: inline-block;
  font-size: 16px;
  overflow: hidden;
  font-weight: 400;
  font-size: 1rem;
  line-height: 125%;
  color: #000000;
  background-color: #EDF2EC;
}
.welcome_intro_button:hover {
  background-color: #E06733;
  color: white;
  border: 2px solid #E06733;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .container_welcome {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .intro_head {
    font-size: 2.18rem;
    line-height: 143%;
    padding-top: 0;
  }
  .lorem_intro {
    font-size: 1rem;
    line-height: 156%;
    padding-bottom: 48px;
  }
  .intro_text {
    margin: 0;
  }
  .leaves_logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 231px;
    max-height: 254px;
  }
}
@media (max-width: 380px) {
  .container_welcome {
    padding-top: 0;
    padding-top: 116px;
    padding-bottom: 22px;
    min-height: 300px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .lorem_intro {
    padding-bottom: 30px;
  }
  .intro_text {
    min-height: 0;
  }
  .intro_head {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 20px;
  }
  .welcome_intro_button {
    min-height: 34px;
    width: 30%;
    height: 3%;
    padding: 5px 8px 5px 8px;
    font-size: 10px;
    line-height: 20px;
    background-color: #EDF2EC;
  }
}
#about {
  background-color: white;
}

.container_about {
  padding-top: 93px;
  padding-bottom: 71px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 662px;
}

.about_text {
  max-width: 605px;
  min-height: 350px;
  padding-top: 68px;
}

.about_text h2 {
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
}

.img_plant {
  max-width: 464px;
  max-height: 479px;
}

.img_plant_element {
  height: 100%;
  width: 100%;
}

@media (max-width: 768px) {
  .container_about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 0;
    padding-bottom: 96px;
  }
  .about_text {
    margin: 0 auto;
  }
  .lorem_about {
    padding-bottom: 38px;
  }
  .about_head {
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .img_plant {
    max-width: 250px;
    max-height: 258px;
    margin: 0 auto;
  }
}
@media (max-width: 520px) {
  .leaves_logo {
    display: none;
  }
}
@media (max-width: 380px) {
  .container_about {
    padding-top: 0;
    padding-bottom: 18px;
    min-height: 0;
  }
  .about_text h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .lorem_about {
    font-size: 0.9rem;
    line-height: 1.5rem;
    padding-bottom: 18px;
  }
  .img_plant {
    width: 150px;
    height: 147px;
  }
}
#service {
  background-color: #EDF2EC;
}

.container_service {
  min-height: 1300px;
  font-family: "Inika";
}

.service_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
}

.h2_service {
  max-width: 306px;
  min-height: 94px;
  color: #499A18;
  font-size: 40px;
  line-height: 52px;
}

.buttons_service {
  margin-left: 142px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button_service {
  margin-right: 38px;
  color: #E06733;
  min-width: 161px;
  min-height: 50px;
  font-size: 20px;
  border: 1px solid #E06733;
  border-radius: 5px;
  font-family: "Inter";
  font-family: Inter;
  overflow: hidden;
  background-color: #EDF2EC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
}
.button_service:hover {
  background-color: #E06733;
  color: white;
  border: 1px solid #E06733;
  border-radius: 5px;
  -webkit-transition: 1s;
  transition: 1s;
}

.garden__button.active {
  background-color: #E06733;
  color: white;
}

.lawn__button.active {
  background-color: #E06733;
  color: white;
}

.planting__button.active {
  background-color: #E06733;
  color: white;
}

.garden.active {
  -webkit-filter: blur(0);
          filter: blur(0);
}

.lawn.active {
  -webkit-filter: blur(0);
          filter: blur(0);
}

.planting.active {
  -webkit-filter: blur(0);
          filter: blur(0);
}

.garden.blur {
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

.lawn.blur {
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

.planting.blur {
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

.imagesService.blur {
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-transition: 1s;
  transition: 1s;
}

.imagesService {
  -webkit-transition: 1s;
  transition: 1s;
}

.blur {
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-transition: 1s;
  transition: 1s;
}

.active {
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

.grid_service {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 8% 1fr 8% 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr 45px 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 8%;
  grid-row-gap: 8%;
  padding-top: 79px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 45px;
  margin: 0 auto;
}

.grid_service > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid_service > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.grid_service > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.grid_service > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.grid_service > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.grid_service > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

._service_item {
  max-width: 100%;
}

.grid_service img {
  max-width: 100%;
}

@media (max-width: 768px) {
  .container_service {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0;
    padding-bottom: 96px;
  }
  .service_head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 18px;
  }
  .about_text {
    padding: 0;
  }
  .h2_service {
    padding: 40px 0;
  }
  .buttons_service {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .grid_service {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 8% 1fr;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr 67px 1fr 67px 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 8%;
    grid-row-gap: 67px;
    padding-top: 32px;
  }
  .grid_service > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .grid_service > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .grid_service > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .grid_service > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .grid_service > *:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .grid_service > *:nth-child(6) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
  .grid_service img {
    width: 100%;
  }
}
@media (max-width: 520px) {
  .grid_service {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 34px 1fr 34px 1fr 34px 1fr 34px 1fr 34px 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 34px;
  }
  .grid_service > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .grid_service > *:nth-child(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .grid_service > *:nth-child(3) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .grid_service > *:nth-child(4) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .grid_service > *:nth-child(5) {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }
  .grid_service > *:nth-child(6) {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
  }
  .grid_service img {
    width: 100%;
  }
}
@media (max-width: 380px) {
  .container_service {
    padding-top: 30px;
    padding-bottom: 24px;
  }
  .service_head {
    padding-top: 0;
  }
  .grid_service {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 65px 1fr 65px 1fr 65px 1fr 65px 1fr 65px 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 65px;
    padding-top: 40px;
  }
  .grid_service > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .grid_service > *:nth-child(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .grid_service > *:nth-child(3) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .grid_service > *:nth-child(4) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .grid_service > *:nth-child(5) {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }
  .grid_service > *:nth-child(6) {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
  }
  .grid_service img {
    width: 95%;
  }
  .h2_service {
    font-size: 1.5rem;
    line-height: 2rem;
    min-height: 0;
    padding-top: 0;
  }
  .buttons_service {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 40px;
  }
  .button_service {
    margin-bottom: 10px;
    margin-right: 10px;
    min-width: 121px;
    min-height: 35px;
  }
}
#prices {
  background-color: white;
}

.container_prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 554px;
  padding-top: 31px;
}

.prices_head {
  max-width: 332px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.h2_prices {
  font-size: 2.5rem;
  color: #000;
  margin-bottom: 60px;
  font-family: Inter;
  font-weight: 700;
  font-weight: 700;
  line-height: 52px;
}

.selection_prices {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 9% 60px;
}

.select_item {
  border: 1px solid #E3E1D5;
  border-radius: 20px;
  background-color: #EDF2EC;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000;
  margin: 0;
  padding: 16px 28px 16px 40px;
  position: relative;
}
.select_item:not(:last-of-type) {
  margin-bottom: 32px;
}
.select_item::after {
  content: "";
  background-image: url(../img/accordion_btn.svg);
  width: 16px;
  height: 16px;
  margin-left: auto;
  cursor: pointer;
}
.select_item .accordion {
  display: none;
}

.select_item_h4 {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.select_item.active {
  background-color: #D6E7D2;
  max-width: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 0px;
}
.select_item.active::after {
  content: "";
  background-image: url(../img/accordion_btn\ \(2\).svg);
  width: 16px;
  height: 16px;
  margin-left: auto;
  cursor: pointer;
  position: relative;
  bottom: 89%;
}
.select_item.active .accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.select_item.active p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 100%;
  color: #717171;
  margin-bottom: 6px;
}
.select_item.active h5 {
  color: #000;
  margin-bottom: 6px;
  font-size: 12px;
  line-height: 167%;
}
.select_item.active .br_bar {
  margin-top: 12px;
  height: 1px;
  width: 100%;
  background-color: #717171;
  margin-bottom: 6px;
  display: block;
}
.select_item.active a {
  font-size: 14px;
  line-height: 143%;
  color: #717171;
  text-decoration: none;
}
.select_item.active button {
  background-color: #fff;
  max-width: 86px;
  border-radius: 10px;
  border: none;
}
.select_item.active button a {
  display: inline-block;
  width: 99%;
  height: 90%;
}
.select_item.active h4 {
  text-align: left;
}
.select_item.active .select_item_h4 {
  text-align: left;
}

.dollar {
  color: #E06733;
}

.sum {
  color: #E06733;
  font-size: 150%;
}

.prices_button_img {
  position: absolute;
  right: 40px;
}

.prices_info {
  width: 40%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.prices_info h3 {
  font-family: "Inter";
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: right;
  margin-bottom: 41px;
}

.prices_button_contact {
  font-family: "Inika";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #E06733;
  width: 161px;
  height: 51px;
  font-size: 20px;
  border: 2px solid #d2d2d2;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-color: #E06733;
  margin-bottom: 39px;
  background-color: white;
}
.prices_button_contact:hover {
  background-color: #E06733;
  color: white;
  border: 2px solid #E06733;
  border-radius: 10px;
}

.prices_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 806px) {
  .container_prices {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding-top: 36px;
    padding-bottom: 65px;
  }
  .h2_prices {
    margin-bottom: 55px;
  }
  .prices_head {
    margin-right: 40px;
  }
  .prices_info_h3 {
    font-size: 25px;
    line-height: 140%;
    text-align: right;
    padding-top: 108px;
  }
  .prices_info h3 {
    font-size: 25px;
    line-height: 140%;
  }
}
@media (max-width: 593px) {
  .container_prices {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .prices_head {
    margin-right: 0;
  }
}
@media (max-width: 380px) {
  .container_prices {
    padding: 10px 79px;
    min-height: 512px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .h2_prices {
    margin-bottom: 28px;
    text-align: center;
    font-size: 1.5rem;
  }
  .selection_prices {
    padding: 29px 22px;
  }
  .select_item {
    font-size: 0.9rem;
    line-height: 1.25rem;
    padding: 13px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .select_item_h4 {
    max-width: 100%;
    padding: 0;
    padding-left: 30px;
  }
  .select_item:not(:last-of-type) {
    margin-bottom: 9px;
  }
  .prices_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    width: 100%;
  }
  .prices_info h3 {
    font-size: 1.25rem;
    line-height: 2.18rem;
    padding-top: 33px;
    margin-bottom: 10px;
    text-align: center;
  }
  .leaves_prices {
    display: none;
  }
  .prices_button_contact {
    margin-bottom: 10px;
    width: 60%;
    height: 12%;
    padding: 10px 8px 10px 8px;
    font-size: 10px;
    line-height: 20px;
  }
}
#contacts {
  background-color: #EDF2EC;
}

.container_contact_us {
  padding-top: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 550px;
}

.h2_contact_head {
  padding-top: 7px;
  font-family: "Inika";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  justify-self: flex-start;
  margin-left: auto;
  margin-right: auto;
}

.img_contact {
  margin-right: 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  max-width: 400px;
  max-height: 496px;
}

.img_contact img {
  height: 100%;
  width: 100%;
}

.contact_search_block {
  width: 35%;
  margin: 0 auto;
  padding-top: 88px;
}

.contact_search_city {
  margin-top: 95px;
  width: 100%;
  height: 50px;
  background: #D6E7D2;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
  border: 1px solid #D6E7D2;
  padding-left: 20px;
  padding-right: 35px;
  background-position: 92% center;
  font-family: Inter;
  font-size: 20px;
  line-height: 165%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #717171;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.city_dropdown {
  background: #D6E7D2;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
  border: 1px solid #D6E7D2;
  padding: 5px 20px;
  max-height: 50px;
}
.city_dropdown li {
  font-size: 20px;
  line-height: 200%;
  letter-spacing: 0.05em;
  color: #717171;
  font-family: Inter;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.city_dropdown li.active {
  display: inline-block;
}
.city_dropdown.active {
  background-color: #C1E698;
  max-height: 50px;
}
.city_dropdown.active .city_option_list::after {
  background-image: url(../img/drop_btn.svg);
}

.city_option_list::after {
  display: inline-block;
  content: "";
  background-image: url(../img/accordion_btn.svg);
  height: 16px;
  width: 16px;
  margin-top: 13px;
}

.dropdown_hidden {
  display: none;
  width: 93%;
}
.dropdown_hidden.active {
  position: relative;
  margin-left: -21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #DCE9D9;
  padding: 30px 35px;
}
.dropdown_hidden li {
  font-size: 20px;
  line-height: 200%;
  letter-spacing: 0.05em;
  font-family: Inter;
  cursor: pointer;
  color: #499A18;
}
.dropdown_hidden li::after {
  content: "";
  display: block;
  height: 0.01em;
  width: 90%;
  background-color: #D9D9D9;
}
.dropdown_hidden li::after:hover {
  background-color: #717171;
}
.dropdown_hidden li:hover {
  color: #717171;
}
.dropdown_hidden li:hover::after {
  background-color: #717171;
}
.dropdown_hidden li.active {
  display: inline-block;
}

.contact_search_city select {
  width: 100%;
  background-image: url(../img/accordion_btn.svg);
  background-position: 100% center;
  font-family: Inter;
  font-size: 20px;
  line-height: 165%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #717171;
  background-color: #D6E7D2;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
  background-repeat: no-repeat;
}

.city_option [data-filter=City] {
  display: block;
}

.city_option:not([data-filter=City]) {
  display: none;
}

.contact_search_city select:hover, .contact_search_city select:active, .contact_search_city select:focus {
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

.city_info {
  display: none;
}

.city_info_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.city_info.selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #EDF2EC;
  border: 1px solid #000000;
  border-radius: 20px;
  margin: 47px 0 0 0;
  padding-bottom: 16px;
}
.city_info.selected .city_info_item_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.city_info.selected span {
  color: #000;
  font-size: 1rem;
  line-height: 250%;
  margin-bottom: 5px;
  font-family: Inter;
  font-weight: 500;
}

.city_info_wrapper {
  padding: 17px 76px 10px 32px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.city_info_wrapper p, .city_info_wrapper a, .city_info_wrapper address {
  color: #717171;
  font-size: 1rem;
  line-height: 250%;
  margin-bottom: 5px;
  font-family: Inter;
}

.city_info_item_text a {
  margin-bottom: 5px;
}

.call_button {
  max-width: 122px;
  background: #EDF2EC;
  border: 2px solid #E06733;
  border-radius: 5px;
  margin: 0 auto;
  padding: 1% 6%;
  color: #717171;
  font-family: Inter;
}
.call_button:hover {
  background-color: #E06733;
  color: white;
}

@media (max-width: 768px) {
  .container_contact_us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
  .h2_contact_head {
    padding: 40px 0 100px;
  }
  .img_contact {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0 auto;
    padding-top: 250px;
  }
  .contact_search_block {
    width: 70%;
  }
  .contact_search_city {
    background-size: 0;
    margin-top: 0;
  }
  .img_contact {
    padding-top: 250px;
    max-width: 200px;
    max-height: 250px;
  }
  .contact_woman_img {
    height: 100%;
    width: 100%;
  }
}
@media (max-width: 380px) {
  .container_contact_us {
    padding: 0;
    min-height: 445px;
  }
  .h2_contact_head {
    padding-top: 13px;
    font-size: 1.5rem;
    padding-bottom: 0;
  }
  .contact_search_city {
    margin-top: 70px;
  }
  .img_contact {
    padding-top: 132px;
    max-width: 100px;
    max-height: 125px;
  }
  .contact_woman_img {
    height: 100%;
    width: 100%;
  }
}
.footer {
  background-color: white;
}

.footer * {
  font-family: "Inter";
}

.container_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 40px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  min-height: 130px;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 40px;
}

.site_info, .site_info * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #000;
}

.rs-school {
  color: #000000;
}
.rs-school:active {
  opacity: 0.5;
  -webkit-transition-property: opacity, color;
  transition-property: opacity, color;
  -webkit-transition-duration: 100ms, 400ms;
          transition-duration: 100ms, 400ms;
}
.rs-school:focus, .rs-school:hover {
  opacity: 0.8;
  color: #E06733;
  -webkit-transition-property: opacity, color;
  transition-property: opacity, color;
  -webkit-transition-duration: 100ms, 400ms;
          transition-duration: 100ms, 400ms;
}

.footer h3 .rs-school {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  padding-top: 0;
}

.rs-school {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
}

.site_info * {
  margin-right: 20px;
}

.site_info a {
  margin-right: 0;
}

.contactmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.media:not(:last-of-type) {
  margin-right: 20px;
}

@media (max-width: 768px) {
  .container_footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 7px 85px 7px 85px;
    min-height: 181px;
  }
  .rs-school {
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-bottom: 3px;
  }
  .contactmedia {
    margin-top: 10px;
  }
}
@media (max-width: 380px) {
  .container_footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 7px 85px 7px 85px;
    min-height: 146px;
  }
  footer * {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  .rs-school {
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-bottom: 3px;
  }
  .contactmedia {
    margin-top: 10px;
  }
}